/* *{
    font-family: 'Courier New';
}
h1 {
    color: #1b74e4;
}

.search {
    background-color: black !important;
    color: white;
}
main button {
    background-color: aqua;
}
#searchbtn {
    background-color: #1b74e4;
} */

#main {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.inner {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 100%;
}
#stop{
    background-color: red;
}
#wait{
    background-color: yellow;
}
#go{
    background-color: green;
}